<section class="p-2">
  <h1 mat-dialog-title class="fs-2">Your favorite Items</h1>

  <div
    mat-dialog-content
    class="d-flex flex-column flex-sm-row justify-content-center justify-content-sm-around align-items-center container test"
    *ngFor="let favoriteItem of favoriteItems"
  >
    <div>
      <img [src]="favoriteItem.image" alt="Item image" />
    </div>
    <div class="w-50">
      <h1 class="fs-4 fw-bold text-black">{{ favoriteItem.title }}</h1>
      <p>{{ favoriteItem.description }}</p>
      <p class="price fw-bold fs-4">
        {{ favoriteItem.price | currency : "EUR" : "symbol" : "1.2-2" }}
      </p>
      <img class="custom-line mt-3" src="assets/imgs/under-line.png" alt="" />
    </div>
  </div>

  <div mat-dialog-actions>
    <a mat-button mat-dialog-close>X</a>
  </div>
</section>
