@import "../../../styles.scss";

section {
    z-index: 9999;

    img {
        height: 150px;
    }
}

.custom-line {
    width: 18dvw !important;
    height: 2px !important;
    display: block;
    margin: 0 auto;
}

.cart-btn {
    height: 35px;
}

/* Set a fixed height or max-height for the container */
section {
    max-height: 800px; /* Adjust this value based on your needs */
    overflow-y: auto; /* Allow vertical scrolling */
}

/* Hide scrollbar for Chrome, Safari, and newer versions of Opera */
section::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for Firefox */
section {
    scrollbar-width: none;
}
