@import "../../../styles.scss";

section {
    z-index: 9999;

    img {
        height: 150px;
    }
}

.custom-line {
    width: 18dvw !important;
    height: 2px !important;
    display: block;
    margin: 0 auto;
}

.cart-btn {
    height: 35px;
}
