@import "../../../styles.scss";
section {
    .product-img {
        width: 200px;
        height: 240px;
    }

    .rating-stars {
        height: 15px;
    }

    .vertical-icons {
        top: 0;
        right: 2em;
    }

    .productCard {
        cursor: pointer;

        &:hover {
            .verticalIcons-container {
                display: flex !important;
                animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
            }
        }
    }

    .verticalIcons-container {
        top: 0;
        right: 2em;

        .icon-container {
            width: 40px;
            height: 40px;
            background-color: $bg-color-lightGray;
        }
    }

    // .slide-in-right {

    // }

    @keyframes slide-in-right {
        0% {
            transform: translateX(20px);
            opacity: 0;
        }
        100% {
            transform: translateX(0);
            opacity: 1;
        }
    }
}
