<section class="d-flex flex-column">
  <div class="container p-5">
    <img
      class="d-block mx-auto img-fluid"
      src="assets/imgs/trendy-logo-removebg.png"
    />
    <h1 class="text-center mt-5">Shopping Cart</h1>
    <a
      routerLink="/main"
      class="text-black-50 p-1 fs-6 text-decoration-underline mb-3"
    >
      <i class="fa-solid fa-angle-left" style="color: #000000"></i> Continue
      shopping
    </a>
    <h1 class="mt-4">Your Items ({{ itemsInCart.length }})</h1>
    <h2 class="m-0 fs-5 mt-4">Shipping by Treny</h2>
    <span>Shipping time: 2-5 business days</span>

    <div class="row mt-3">
      <div class="col-md-8">
        <div
          class="cart-items p-3 d-flex flex-column align-items-start justify-content-between flex-md-row justify-content-md-between align-items-md-center border-bottom"
          *ngFor="let item of itemsInCart"
        >
          <img [src]="item.image" alt="item-pic" />
          <p class="w-25">{{ item.title }}</p>
          <p>[Size logic to be added]</p>
          <div class="d-flex quantity">
            <span (click)="increaseQuantity(item)"
              ><i class="fa-solid fa-plus" style="color: #000000"></i
            ></span>
            <span class="mx-2">{{ item.quantity }}</span>
            <span
              *ngIf="item.quantity > 1; else deleteIcon"
              (click)="decreaseQuantity(item)"
              ><i class="fa-solid fa-minus" style="color: #000000"></i
            ></span>
            <ng-template #deleteIcon>
              <span (click)="deleteItem(item)"
                ><i class="fa-regular fa-trash-can" style="color: #000000"></i
              ></span>
            </ng-template>
          </div>
          <p>{{ item.price | currency : "EUR" }}</p>
        </div>
      </div>
      <div class="col-md-4 ms-auto">
        <app-bill [itemsInCart]="itemsInCart"></app-bill>
      </div>
    </div>
  </div>

  <div class="mt-auto">
    <app-our-service></app-our-service>
    <app-footer></app-footer>
  </div>
</section>
