<div class="alert" style="min-height: 300px">
  <div>
    <h1 class="text-center fs-2 mt-3">Order Summary</h1>

    <p class="text-center fw-bold mt-4 text-danger saved-amount">
      Your 20% discount:
      {{ calculateDiscountValue() | currency : "EUR" }}
    </p>

    <div class="d-flex justify-content-between mt-4">
      <span class="fs-5 mb-2"> Regular*: </span>
      <span class="fs-5">{{ calculateTotal() | currency : "EUR" }}</span>
    </div>

    <div class="d-flex justify-content-between">
      <span class="fs-5 mb-2">Shipping:</span>
      <span class="fw-bold">
        <i class="fa-solid fa-circle-check fs-5" style="color: #257e34"></i>
        Free
      </span>
    </div>

    <div class="d-flex justify-content-between">
      <span class="fs-5"> Discounted Total:</span>
      <span class="fs-5">{{
        calculateDiscountedTotal() | currency : "EUR"
      }}</span>
    </div>

    <p class="text-center mt-5 fs-6">Total price including VAT:</p>
    <h1 class="text-center total-amount fs-1">
      {{ calculateDiscountedTotal() | currency : "EUR" }}
    </h1>
  </div>

  <div class="d-flex justify-content-center mt-3" style="width: 100%">
    <a
      routerLink="/payment"
      class="btn btn-dark w-50 text-uppercase rounded-0"
      [ngClass]="{ disabled: itemsInCart.length === 0 }"
    >
      Complete Order
    </a>
  </div>
</div>

<p class="bill-note">
  * This amount is the sum of the RRPs of the products in the shopping cart.
</p>
