<section class="bg-dark p-5">
  <h2 class="text-center text-white-50 fs-2">About Trendy</h2>
  <div
    class="footer-links d-flex flex-column flex-sm-row justify-content-center align-items-center mb-3"
  >
    <a href="">Login</a>
    <a class="ms-sm-4" (click)="openDialog()">Cookie settings</a>
    <a class="ms-sm-4" routerLink="/imprint">Imprint</a>
    <a class="ms-sm-4" routerLink="/terms">Terms and Conditions</a>
    <a class="ms-sm-4" routerLink="/data_protection"> Privacy Policy </a>
  </div>

  <div
    class="container d-flex flex-column flex-sm-row align-content-center justify-content-evenly"
  >
    <div class="social-media-links mb-3 mb-sm-0">
      <h2 class="text-white-50 text-center">You can also find us on</h2>
      <div class="d-flex justify-content-center justify-content-sm-around">
        <a href="https://www.apple.com/de/store"
          ><i class="fa-brands fa-apple fs-3" style="color: #ffffff"></i
        ></a>
        <a class="ms-3 ms-sm-0" href="https://play.google.com/store/apps"
          ><i class="fa-brands fa-android fs-3" style="color: #ffffff"></i
        ></a>
        <a class="ms-3 ms-sm-0" href="https://www.instagram.com/"
          ><i class="fa-brands fa-instagram fs-3" style="color: #ffffff"></i
        ></a>
        <a class="ms-3 ms-sm-0" href="https://www.facebook.com/"
          ><i class="fa-brands fa-facebook fs-3" style="color: #ffffff"></i
        ></a>
        <a class="ms-3 ms-sm-0" href="https://www.x.com"
          ><i class="fa-brands fa-x-twitter fs-3" style="color: #ffffff"></i
        ></a>
      </div>
    </div>

    <div class="payment-methodes mb-3 mb-sm-0">
      <h2 class="text-white-50 text-center">Payment methods</h2>
      <div class="d-flex justify-content-center justify-content-sm-around">
        <i class="fa-brands fa-cc-visa fs-3" style="color: #ffffff"></i>
        <i
          class="fa-brands fa-cc-mastercard fs-3 ms-3 -ms-sm-0"
          style="color: #ffffff"
        ></i>
        <i
          class="fa-brands fa-paypal fs-3 ms-3 -ms-sm-0"
          style="color: #ffffff"
        ></i>
        <i
          class="fa-brands fa-cc-apple-pay fs-3 ms-3 -ms-sm-0"
          style="color: #ffffff"
        ></i>
      </div>
    </div>

    <div class="delivery-partners mb-3 mb-sm-0">
      <h2 class="text-white-50 text-center">Delivery Partners</h2>
      <div class="d-flex justify-content-center justify-content-sm-around">
        <i class="fa-brands fa-dhl fs-3" style="color: #ffffff"></i>
        <i
          class="fa-brands fa-ups fs-3 ms-3 ms-sm-0"
          style="color: #ffffff"
        ></i>
        <i
          class="fa-brands fa-fedex fs-3 ms-3 ms-sm-0"
          style="color: #ffffff"
        ></i>
      </div>
    </div>
  </div>
</section>
