@import "../../../styles.scss";

.navbar-brand {
    img {
        width: 130px;
        object-fit: cover;
    }
}

.active {
    text-decoration: underline;
}

a {
    color: $links-color-darkGrey;
}

i {
    background-color: $bg-color-light;
    border-radius: 100%;
}
