@import "../../../styles.scss";

.navbar {
    background-color: $bg-color-main !important;

    .navbar-brand {
        img {
            height: 100px;
        }
    }

    .active {
        text-decoration: underline;
    }

    a {
        color: $text-color-black;
    }

    i {
        background-color: $bg-color-light;
        border-radius: 100%;
    }
}
