@import "../../../styles.scss";

section {
    min-height: 100dvh;
    background-color: #212529;

    .contact-header {
        h1 {
            position: relative;
            &::after {
                content: "";
                position: absolute;
                left: 50%;
                bottom: -10px;
                width: 45px;
                height: 3px;
                background: white;
                transform: translateX(-50%);
            }
        }
    }

    .form-label {
        margin-bottom: 0;
    }

    .messageBox {
        margin-top: 300px;
    }
}
