<div class="container p-5 text-black-50">
  <h1 class="text-center mb-4 fs-2">Terms & Conditions</h1>

  <ol>
    <li>
      <h2>Introduction</h2>
      <p>
        Welcome to Trendy. These terms and conditions outline the rules and
        regulations for the use of Trendy's website.
      </p>
    </li>

    <li>
      <h2>Definitions</h2>
      <ul>
        <li>
          "Client", "You" and "Your" refers to you, the person accessing this
          website and accepting Trendy's terms and conditions.
        </li>
        <li>"Trendy", "Ourselves", "We", "Our" and "Us", refers to Trendy.</li>
      </ul>
    </li>

    <li>
      <h2>License</h2>
      <p>
        Unless otherwise stated, Trendy owns the intellectual property rights
        for all material on Trendy's website. All intellectual property rights
        are reserved.
      </p>
    </li>

    <li>
      <h2>User Comments</h2>
      <p>
        Certain parts of Trendy's website offer the opportunity for users to
        post comments. Trendy does not screen, edit, publish, or review comments
        before their appearance on the website.
      </p>
    </li>

    <li>
      <h2>Hyperlinking to Trendy's Content</h2>
      <p>
        Organizations may link to Trendy's website without prior written
        approval.
      </p>
    </li>

    <li>
      <h2>Content Liability</h2>
      <p>
        Trendy shall not be responsible or liable for any content that appears
        on your website.
      </p>
    </li>

    <li>
      <h2>Reservation of Rights</h2>
      <p>
        Trendy reserves the right to amend these terms and conditions at any
        time.
      </p>
    </li>

    <li>
      <h2>Removal of Links</h2>
      <p>
        Trendy reserves the right to request the removal of any link to Trendy's
        website.
      </p>
    </li>

    <li>
      <h2>Disclaimer</h2>
      <p>
        Trendy does not make any warranties, expressed or implied, related to
        the information on its website.
      </p>
    </li>
  </ol>
</div>

<app-footer></app-footer>
