@import "../../../../styles.scss";

section {
    height: 100dvh;
    .models-img {
        max-width: 60dvw;
        height: 100dvh;
        object-fit: cover;
    }

    .links-container {
        margin-left: 120px;

        a {
            text-decoration: none;
            color: $text-color-black;
        }
    }

    .letter-spacing {
        letter-spacing: 20px;
    }

    .logo {
        height: 5vw;
        right: -8%;
        top: 35%;
    }
}
