@import "../../../../styles.scss";

section {
    height: 100dvh;
    .models-img {
        height: 100dvh;
    }

    .links-container {
        margin-left: 120px;

        a {
            text-decoration: none;
            color: $text-color-black;
        }
    }

    .letter-spacing {
        letter-spacing: 20px;
    }

    .logo {
        height: 75px;
        right: -13%;
        top: 35%;
    }
}
