<section class="p-5">
  <div class="container text-center">
    <div class="row">
      <div class="col-sm-3 d-flex flex-column">
        <i class="fa-solid fa-tags fs-2 mb-2" style="color: #000000"></i>
        <span>Up to 80% discount on top brands</span>
      </div>
      <div class="col-sm-3 d-flex flex-column">
        <i class="fa-solid fa-scissors fs-2 mb-2" style="color: #000000"></i>
        <span>Over 4,000 designer labels</span>
      </div>
      <div class="col-sm-3 d-flex flex-column">
        <i
          class="fa-solid fa-truck-arrow-right fs-2 mb-2"
          style="color: #000000"
        ></i>
        <span>Fast shipping and free returns</span>
      </div>
      <div class="col-sm-3 d-flex flex-column">
        <i
          class="fa-solid fa-circle-check fs-2 mb-2"
          style="color: #000000"
        ></i>
        <span>High customer satisfaction</span>
      </div>
    </div>
  </div>
</section>
