<div class="container p-5 text-black-50">
  <h1 class="text-center mb-4 fs-2">Imprint - Trendy</h1>

  <h2>Managing Director</h2>
  <p>
    Dr. Max Mustermann<br />
    Dr. Andreas Reichhart
  </p>

  <h2>Commercial Register</h2>
  <p>
    Regional Court Munich HRB 1265<br />
    VAT ID: DE 7466462
  </p>

  <h2>Registered Office</h2>
  <p>Aschheim/Dornach, Germany</p>

  <h2>Address</h2>
  <p>
    Trendy GmbH<br />
    Margaretha-Ley-Ring 27<br />
    85609 Aschheim<br />
    Germany
  </p>
  <a href="https://goo.gl/maps/N8MXT27nmHbFdYYy8" target="_blank"
    >Google Maps</a
  >

  <h2>Contact</h2>
  <p>
    <a
      href="https://help.trendy.com/s/contactsupport?language=en_US"
      target="_blank"
      >Contact Form</a
    ><br />
    Email: <a href="mailto:impressum@trendy.com">impressum@trendy.com</a>
  </p>

  <h2>Press inquiries</h2>
  <p>
    Email: <a href="mailto:pr@trendy.com">pr@trendy.com</a><br />
    (for media representatives only please)
  </p>

  <h2>Duty to Inform</h2>
  <p>
    Online dispute resolution pursuant to Article 14(1) of the ODR Regulation:
    The EU Commission provides an online platform for online dispute resolution,
    which you can access via the external link
    <a href="http://ec.europa.eu/consumers/odr/" target="_blank"
      >http://ec.europa.eu/consumers/odr/</a
    >. We are not obliged or willing to participate in dispute resolution
    proceedings before a consumer arbitration board.
  </p>

  <h2>Whistleblowing</h2>
  <p><a href="#">Visit our whistleblower system</a></p>
</div>

<app-footer></app-footer>
