<section
  class="p-4 p-md-5 d-flex align-items-center justify-content-center"
  style="background-color: #424242"
>
  <div *ngIf="!paymentDataSent" class="row d-flex justify-content-center w-75">
    <div class="col-md-10 col-lg-8 col-xl-5">
      <div class="card rounded-3">
        <div class="card-body p-4">
          <div class="text-center mb-4">
            <h3 class="fs-4">Settings</h3>
            <h6 class="fs-6">Payment</h6>
          </div>
          <form [formGroup]="paymentForm" (ngSubmit)="onSubmit()">
            <!-- Mastercard Section -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseOne"
                  aria-expanded="true"
                  aria-controls="collapseOne"
                >
                  <img
                    class="img-fluid"
                    src="assets/imgs/credit-cards-icons/mastercard-logo.png"
                  />
                </button>
              </h2>
              <div
                id="collapseOne"
                class="accordion-collapse collapse show"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="d-flex flex-row align-items-center mb-4 pb-1">
                    <div class="flex-fill mx-3">
                      <div class="form-outline">
                        <input
                          formControlName="masterCard"
                          type="text"
                          id="formControlLgXc"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="formControlLgXc"
                          >Card Number</label
                        >
                      </div>
                      <span class="cursor-pointer" (click)="emptyMasterCard()"
                        >Click to empty the field</span
                      >
                    </div>
                  </div>
                  <div
                    *ngIf="
                      paymentForm.get('masterCard')?.invalid &&
                      paymentForm.get('masterCard')?.touched
                    "
                  >
                    <small class="text-danger"
                      >Please enter a valid 16-digit Mastercard number.</small
                    >
                  </div>
                </div>
              </div>
            </div>

            <!-- Visa Card Section -->
            <div class="accordion-item">
              <h2 class="accordion-header">
                <button
                  class="accordion-button collapsed"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo"
                  aria-expanded="false"
                  aria-controls="collapseTwo"
                >
                  <img
                    class="img-fluid"
                    src="assets/imgs/credit-cards-icons/visa.png"
                  />
                </button>
              </h2>
              <div
                id="collapseTwo"
                class="accordion-collapse collapse"
                data-bs-parent="#accordionExample"
              >
                <div class="accordion-body">
                  <div class="d-flex flex-row align-items-center mb-4 pb-1">
                    <div class="flex-fill mx-3">
                      <div class="form-outline">
                        <input
                          formControlName="visaCard"
                          type="text"
                          id="formControlLgXs"
                          class="form-control form-control-lg"
                        />
                        <label class="form-label" for="formControlLgXs"
                          >Card Number</label
                        >
                      </div>
                      <span class="cursor-pointer" (click)="emptyVisaCard()"
                        >Click to empty the field</span
                      >
                    </div>
                  </div>
                  <div
                    *ngIf="
                      paymentForm.get('visaCard')?.invalid &&
                      paymentForm.get('visaCard')?.touched
                    "
                  >
                    <small class="text-danger"
                      >Please enter a valid 16-digit Visa card number.</small
                    >
                  </div>
                </div>
              </div>
            </div>

            <!-- Cardholder's Name -->
            <div class="row mb-4 mt-4">
              <div class="col-5">
                <div class="form-outline mb-4">
                  <input
                    formControlName="cardholderName"
                    type="text"
                    id="formControlLgXsd"
                    class="form-control form-control-lg"
                  />
                  <label class="form-label" for="formControlLgXsd"
                    >Cardholder's Name</label
                  >
                </div>
                <div
                  *ngIf="
                    paymentForm.get('cardholderName')?.invalid &&
                    paymentForm.get('cardholderName')?.touched
                  "
                >
                  <small class="text-danger"
                    >Please enter a valid name (letters and spaces only).</small
                  >
                </div>
              </div>

              <!-- Expire Date -->
              <div class="col-4">
                <div class="form-outline">
                  <input
                    formControlName="expireDate"
                    type="text"
                    id="formControlLgExpk"
                    class="form-control form-control-lg"
                    placeholder="MM/YYYY"
                  />
                  <label class="form-label" for="formControlLgExpk"
                    >Expire</label
                  >
                </div>
                <div
                  *ngIf="
                    paymentForm.get('expireDate')?.invalid &&
                    paymentForm.get('expireDate')?.touched
                  "
                >
                  <small class="text-danger"
                    >Please enter a valid expiry date (MM/YYYY).</small
                  >
                </div>
              </div>

              <!-- CVV -->
              <div class="col-3">
                <div class="form-outline">
                  <input
                    formControlName="cvv"
                    type="password"
                    id="formControlLgcvv"
                    class="form-control form-control-lg"
                    placeholder="Cvv"
                  />
                  <label class="form-label" for="formControlLgcvv">Cvv</label>
                </div>
                <div
                  *ngIf="
                    paymentForm.get('cvv')?.invalid &&
                    paymentForm.get('cvv')?.touched
                  "
                >
                  <small class="text-danger"
                    >Please enter a valid 3-digit CVV number.</small
                  >
                </div>
              </div>
            </div>

            <!-- Submit Button -->
            <button class="btn btn-success btn-lg btn-block" type="submit">
              Pay
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>

  <div
    *ngIf="paymentDataSent"
    class="alert alert-info p-3 d-flex flex-column align-items-center justify-content-center"
    role="alert"
  >
    <i class="fa-solid fa-check fs-2 mb-2" style="color: #000714"></i>
    <h2>
      You have successfully completed your order We will send the order to you
      as quickly as possible
    </h2>
    <a routerLink="/main">Back to shopping</a>
  </div>
</section>
