<div class="container p-3">
  <div class="card">
    <div class="card-body">
      <h1 class="card-title">Trendy Cookie Settings</h1>
      <p class="card-text">
        Trendy uses tracking to give you the best possible experience. We use
        cookies and other technologies to provide you the best possible shopping
        experience. With these, we can ensure that our services are secure and
        stable, that we receive statistic insights into usage, that content is
        tailored to you, and that advertisements are personalized for you. We
        also share information about your use of our website with our
        marketplace and analytics partners. Our partners may combine this
        information with other data that you have provided to them or that they
        have collected of you. If you want us to limit ourselves to what is
        technically necessary, click <a href="#">here</a>.
      </p>
      <p class="card-text">
        With your consent, you agree that (personal) data can be processed by
        third parties. For this purpose, your data may also be transferred to
        countries outside the EU which do not provide the same level of
        protection for your data (e.g. USA). You can change and revoke your
        consent at any time. Upon login to your account, your latest consent
        settings will be updated on all your devices. For further information,
        please see our <a href="#">privacy policy</a>.
      </p>
      <button class="btn btn-dark rounded-0">Accept</button>
    </div>
  </div>
</div>
