<div class="brands-box me-auto ms-auto d-none d-md-flex flex-column">
  <p class="ms-auto me-auto mt-2">
    Over <span class="fs-2 fw-bold text-primary">32k+</span> fashion gurus are
    growing their brands with FashionForAll.
  </p>

  <div
    class="brands d-flex flex-column align-items-center flex-md-row justify-content-md-around"
  >
    <span class="fw-bold"
      ><img [src]="brandsInfo.nextFashonImg" />
      {{ brandsInfo.nextFashionTitle }}</span
    >
    <span class="fw-bold"
      ><img [src]="brandsInfo.fashionForAllImg" />
      {{ brandsInfo.fashionForAllTitle }}</span
    >
    <span class="fw-bold"
      ><img [src]="brandsInfo.queenClozetImg" />
      {{ brandsInfo.queenClozetTitle }}</span
    >
    <span class="fw-bold"
      ><img [src]="brandsInfo.fashionForMenImg" />
      {{ brandsInfo.fashionForMenTitle }}</span
    >
    <span class="fw-bold"
      ><img [src]="brandsInfo.fashionForChilderenImg" />
      {{ brandsInfo.fashionForChilderenTitle }}</span
    >
  </div>
</div>
