<div class="container p-5 text-black-50">
  <h1 class="text-center mb-4 fs-2">Trendy Data Protection Policy</h1>

  <h2>1. Introduction</h2>
  <p>
    Welcome to Trendy's data protection policy. At Trendy, we value your privacy
    and strive to protect your personal data. This policy outlines how we
    collect, use, and safeguard your information.
  </p>

  <h2>2. Data Controller</h2>
  <p>
    The data controller responsible for processing your personal data on our
    website is:
  </p>
  <address>
    Trendy Inc.<br />
    Johannesstraße 22<br />
    Munich Germany<br />
    Email: <a href="mailto:email@trendy.com">email@trendy.com</a>
  </address>

  <h2>3. Data Collection</h2>
  <p>
    When you visit our website or use our services, we may collect the following
    data:
  </p>
  <ul>
    <li>Personal details (e.g., name, address)</li>
    <li>Contact information (e.g., email, phone number)</li>
    <li>Usage data (e.g., browsing history, search queries)</li>
  </ul>

  <h2>4. Purpose of Data Processing</h2>
  <p>We process your data for various purposes, including:</p>
  <ul>
    <li>To provide and improve our services</li>
    <li>For marketing and promotional activities</li>
    <li>To respond to your inquiries</li>
  </ul>

  <h2>5. Data Protection Rights</h2>
  <p>As a user, you have the following rights:</p>
  <ul>
    <li>Right to access: You can request a copy of your personal data.</li>
    <li>Right to rectification: You can ask us to correct inaccurate data.</li>
    <li>Right to erasure: You can ask us to delete your data.</li>
  </ul>

  <h2>6. Data Sharing</h2>
  <p>
    We may share your data with third-party partners for business purposes. We
    ensure that these partners adhere to strict data protection standards.
  </p>

  <h2>7. Cookies and Tracking</h2>
  <p>
    Our website uses cookies and other tracking technologies to enhance user
    experience and analyze website traffic.
  </p>

  <h2>8. Data Security</h2>
  <p>
    We implement robust security measures to protect your data from unauthorized
    access, alteration, or disclosure.
  </p>

  <h2>9. Changes to this Policy</h2>
  <p>
    We may update this policy from time to time. We encourage you to review it
    regularly.
  </p>

  <h2>10. Contact Us</h2>
  <p>
    If you have any questions or concerns about this policy, please contact us
    at <a href="mailto:email@trendy.com">email@trendy.com</a>.
  </p>
</div>

<app-footer></app-footer>
