@import "../../../../styles.scss";

section {
    padding-top: 100px;
    min-height: 100dvh;
    background-color: rgb(251, 245, 245);
    font-family: "Avenir-Light";
    font-size: 17px;
    letter-spacing: 2px;
}
