<nav class="navbar d-md-none" [ngClass]="{ 'shiny-navbar': isShiny }">
  <div class="container">
    <div
      class="d-flex justify-content-around align-items-center w-25"
      style="height: 100%"
    >
      <img src="assets/imgs/trendy-logo.png" alt="Trendy Logo" />
      <h1 class="fs-3 fw-bolder letter-spacing">TRENDY</h1>
    </div>

    <div class="d-flex justify-content-around w-25">
      <a href="#">Login</a>
      <a href="#">Sign up</a>
      <a href="#">About us</a>
      <a href="">Our Stores</a>
    </div>
  </div>
</nav>
