@import "../../../styles.scss";

.navbar {
    display: none;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: transparent;
    transition: background-color 0.3s;
    padding: 10px;
    text-align: center;
    z-index: 1000;

    &.shiny-navbar {
        display: flex;
        background-color: $bg-color-white;
        box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    }

    img {
        height: 60px;
    }

    a {
        color: $text-color-black;
    }
}
